<div id="<%= dom_id(reminder,:notification) %>">
  <div class="card-body">
    <div class="list-group">
      <a
                  href="#"
                  class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                >
        <div>
          <h3 class="h6 mb-0">
            <%= format_24_hour(reminder.due_date)%>
          </h3>
          <small class="text-muted">
            <%= reminder.title %>
          </small>
          <%= reminder.repeat_frequency %>
        </div>
        <div>
          <%= form_with url: complete_reminder_path(reminder), method: :post do |form| %>
            <%= form.submit "Complete", method: :post, class: "badge bg-secondary rounded-pill", data: { turbo_frame: "_top" }, authenticity_token: true %>
            <%# TODO: FIX THIS CSS %>
            <%= form.button class: "badge bg-secondary rounded-pill", data: { turbo_frame: "_top" }, authenticity_token: true %>
          <% end %>
        </div>
        <%= button_to "Snooze", snooze_reminder_path(reminder), data:{ turbo_frame: "modal-frame"} ,class:'badge bg-primary rounded-pill'%>
      </a>
    </div>
  </div>
</div>
