<div id="<%= dom_id(reminder,:notification) %>">
  <div class="card">
    <div class="card-body">
      <p>
        <h2>
          <%= reminder.due_date.to_datetime.hour %>
          : <%= reminder.due_date.to_datetime.minute %>
          <%= reminder.title %>
        </h2>
        <%= reminder.repeat_frequency %>
      </p>
      <%= form_with url: complete_reminder_path(reminder), method: :post do |form| %>
        <%= form.submit "Complete", method: :post, class: "btn btn-secondary", data: { turbo_frame: "_top" }, authenticity_token: true %>
      <% end %>
      <%= link_to "Snooze", snooze_reminder_path(reminder), data:{ turbo_frame: "modal-frame"} , class: 'btn btn-primary'%>
    </div>
  </div>
</div>
