<div id="<%= dom_id(reminder, :notification) %>">
  <div class="card-body">
    <div class="list-group">
      <div class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
        <div>
          <%= link_to snooze_reminder_path(reminder), data: { turbo_frame: "modal-frame" } do %>
            <h3 class="h6 mb-0">
              <%= format_24_hour(reminder.due_date) %>
            </h3>
            <small class="text-muted">
              <%= reminder.title %>
            </small>
            <%= reminder.repeat_frequency %>
          <% end %>
        </div>
        <div class="d-flex align-items-center">
          <%= form_with url: complete_reminder_path(reminder), method: :post do |form| %>
            <%= form.submit "Complete", method: :post, data: { turbo_frame: "_top" }, authenticity_token: true, class: "btn btn-primary rounded-pill me-2" %>
          <% end %>
          <%= link_to "Snooze", snooze_reminder_path(reminder), data: { turbo_frame: "modal-frame" }, class: "btn btn-secondary rounded-pill" %>
        </div>
      </div>
    </div>
  </div>
</div>
