<div id="<%= dom_id reminder %>">
  <p>
    <strong>Title:</strong>
    <%= reminder.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= reminder.description %>
  </p>

  <p>
    <strong>Due date:</strong>
    <%= reminder.due_date %>
  </p>

  <p>
    <strong>Repeat frequency:</strong>
    <%= reminder.repeat_frequency %>
  </p>

</div>
