<li class="list-group-item d-flex justify-content-between align-items-center" id="<%= dom_id reminder %>">
  <h2>
    <%= format_24_hour(reminder.due_date)%>
  </h2>
  <h4>
    <%= reminder.title %>
  </h3>
  <%= reminder.repeat_frequency %>
  <div class="btn-group" role="group" aria-label="Reminder actions">
    <%= button_to "Edit", edit_reminder_path(reminder), method: :get, class: "btn btn-outline-primary btn-sm", data: { turbo_frame: "modal-frame" } %>
    <%= button_to "Delete", reminder, method: :delete , class: "btn btn-outline-primary btn-sm", data: { turbo_frame: "_top" } %>
  </div>
</li>
