<div id="<%= dom_id reminder %>">
  <li  class="list-unstyled">
    <%= link_to edit_reminder_path(reminder),data:{ turbo_frame: "modal-frame"} do %>
      <div class="card">
        <div class="card-body">
          <p>
            <h1>
              <%= format_24_hour(reminder.due_date)%>
            </h1>
            <h2>
              <%= reminder.title %>
            </h2>
            <%= reminder.repeat_frequency %>
          </p>
        </div>
      </div>
    <% end %>
    <p>
      <%= button_to "Destroy this reminder", reminder, method: :delete , data: { turbo_frame: "_top" } %>
    </p>
  </li>
</div>
