<% if user_signed_in? %>
  <div class="raw" id="user-notifications" data-user-id=<%= current_user.id %> >
  </div>
  <div> Welcome <%= current_user.email %> </div>
  <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
<% else %>
  <%= button_to "Sign in", new_user_session_path %>
<% end %>
<h1>Reminders</h1>
<%= link_to "New reminder", new_reminder_path,
  class: "btn btn-primary",
  data:{turbo_frame: "modal-frame"}
%>
<div id="reminders">
  <% @reminders.each do |reminder| %>
    <%= render reminder %>
    <%# <p> %>
    <%# <%= link_to "Edit this reminder", edit_reminder_path(reminder),data:{ turbo_frame: "modal"} %>
    <%# button_to "Destroy this reminder", reminder, method: :delete , data: { turbo_frame: "_top" } %>
    <%# </p> %>
  <% end %>
</div>
