<div class="container my-4">
  <%= render partial: "nav", locals:{email: current_user.email}%>
  <%= render partial: "notification_list", locals:{notification_reminders: @notification_reminders}%>
  <h1>Reminders</h1>
  <div class="col-md-4">
    <div class="card mb-3">
      <div class="card-body">
        <%= link_to "New reminder", new_reminder_path,
          class: "btn btn-primary btn-lg btn-block",
          data:{turbo_frame: "modal-frame"}
        %>
      </div>
    </div>
  </div>
  <div id="reminders" class="col-6">
    <h2 >Today</h2>
    <ul id="today-reminders" >
      <% if @today_reminders.present? %>
        <% @today_reminders.each do |reminder| %>
          <%= render partial: "reminder", locals: {reminder: reminder} %>
        <% end %>
      <% end %>
    </ul>
    <h2 class="tomorrow-reminders">
      Tomorrow
    </h2>
    <ul id="tomorrow-reminders" >
      <% if @tomorrow_reminders.present? %>
        <% @tomorrow_reminders.each do |reminder| %>
          <%= render partial: "reminder" , locals: {reminder: reminder} %>
        <% end %>
      <% end %>
    </ul>
    <h2 >Upcoming</h2>
    <ul id="upcoming-reminders">
      <% if @upcoming_reminders.present? %>
        <% @upcoming_reminders.each do |reminder| %>
          <%= render partial: "reminder", locals: {reminder: reminder} %>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
