<div class="container my-4">
  <%= render partial: "notification_list",
  locals:{notifications: @notifications} %>
  <div class="col-md-4">
    <%= link_to "New reminder", new_reminder_path,
          class: "btn btn-primary btn-lg btn-block",
          data:{turbo_frame: "modal-frame"}
        %>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2 class="h6 mb-0">Reminder List</h2>
      <hr />
    </div>
  </div>
  <div class="row" id="reminders">
    <div class="col-md-4" >
      <div class="card shadow mb-4 " >
        <div class="card-header bg-primary text-white">
          <h2 class="h5 mb-0">Today</h2>
        </div>
        <ul class="list-group list-group-flush" id="today-reminders">
          <% if @today_reminders.present? %>
            <% @today_reminders.each do |reminder| %>
              <%= render partial: "reminder", locals: {reminder: reminder} %>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card shadow mb-4" >
        <div class="card-header bg-secondary text-white">
          <h2 class="h5 mb-0">Tomorrow</h2>
        </div>
        <ul class="list-group list-group-flush" id="tomorrow-reminders">
          <% if @tomorrow_reminders.present? %>
            <% @tomorrow_reminders.each do |reminder| %>
              <%= render partial: "reminder", locals: {reminder: reminder} %>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card shadow mb-4">
        <div class="card-header bg-info text-white">
          <h2 class="h5 mb-0">Upcoming</h2>
        </div>
        <ul class="list-group list-group-flush" id="upcoming-reminders">
          <% if @upcoming_reminders.present? %>
            <% @upcoming_reminders.each do |reminder| %>
              <%= render partial: "reminder", locals: {reminder: reminder} %>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card shadow mb-4">
        <div class="card-header bg-info text-white">
          <h2 class="h5 mb-0">Missed</h2>
        </div>
        <ul class="list-group list-group-flush" id="upcoming-reminders">
          <% if @missed_reminders.present? %>
            <% @missed_reminders.each do |reminder| %>
              <%= render partial: "reminder", locals: {reminder: reminder} %>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
